<!DOCTYPE html>
<html>
<head>
    <title>매장 관리</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/a.css'%}">
    <script type="text/javascript" src="jsQR.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <header id="header">
        <div class="moa">MOA</div>
        <div class="cafe">{{fuser.user_id}}</div>

    </header>
    {% block contents %}
    <article class="article">
        <div class="left">
            <div class="cntcoupon">
                <div style="text-align: center;"><h5>기본 설정</h6></div><br>
                <div class="bnt">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div>카페 이름</div>
                        <input type="text" name="cafe_name" placeholder="등록 카페 명칭"/><br>
                        <br><div>쿠폰 개수 설정</div>
                        <input type="number" step="1" min="1" placeholder="최소 1" name="cnt_stamp"/>
                        </div><br>
                        <div class="explain">카페 설명</div>
                        <sup>(<span id="nowByte">0</span>/200bytes)</sup>
                        <textarea rows="10" class="form-control" id="textArea_byteLimit" name="cafe_explain" onkeyup="fn_checkByte(this)"></textarea>
                        <br><button type="submit" class="cafe_info">등록</button>
                    </form> 
            </div>
        </div>
    {% endblock %}
        <div class="right">
            <div style="text-align: center;"><h5>QR코드 인식</h5></div><br>
            <div class="qrread"><br>
                <input type="button" onclick="document.getElementById('qrscan').focus()" value="QR인식"><br>
                <br>
                <form method="post" action="." onsubmit="return false;">
                    {%csrf_token%}
                    <div class="idandname"><input type="text" id="qrscan" name="qrcode"/></div><br>
                    <input type="button" onclick="slice()" value="qr" /><br>
                    <br>
                    <div id="userid" name="userid"></div>
                    <div id="userphone" name="userphone"></div>
                    <br>
                    <div>{{Customer.user_id}}</div>
                    <div>{{Customer.phone}}</div>
                    <input type="button" name="save_coupon" value="적립" />&nbsp;&nbsp;&nbsp;
                    <input type="button" name="use_coupon" value="쿠폰 사용" />
                </form>
            </div>
        </div>
    </article>
    <a href="{% url 'logout' %}" class="btn_logout">로그아웃</a>
</body>
</html>
<script>
	function fn_checkByte(obj){
        const maxByte = 200;
        const text_val = obj.value;
        const text_len = text_val.length;
        
        let totalByte=0;
        for(let i=0; i<text_len; i++){
            const each_char = text_val.charAt(i);
            const uni_char = escape(each_char)
            if(uni_char.length>4){
                totalByte += 2;
            }else{
                totalByte += 1;
            }
        }
        
        if(totalByte>maxByte){
            alert('최대 200Byte까지만 입력가능합니다.');
                document.getElementById("nowByte").innerText = totalByte;
                document.getElementById("nowByte").style.color = "red";
            }else{
                document.getElementById("nowByte").innerText = totalByte;
                document.getElementById("nowByte").style.color = "green";
            }
    }
</script>
<script>
    var userid = document.getElementById('userid'); 
    var userphone = document.getElementById('userphone');

    function slice(){
        var input = document.getElementById('qrscan').value;
        var ary = input.split(',');
        
        id = ary[0];
        phone = ary[1];

        userid.innerHTML = "아이디 : " + id;
        userphone.innerHTML = "휴대폰 : " + phone;
    }
</script>
