<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카페 기본 설정</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    {% block contents %}
    <header id="header">
        <h2 style="text-align: center;">MOA</h2>
    </header>
    <article class="article">
        <div class="cntcoupon">
            <div style="text-align: center;"><h5>기본 설정</h5></div><br>
            <h5 style="float: right">{{user}}</h5>
            <div class="bnt">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div>카페 이름</div>
                    <input type="text" class="form-control" name="cafe_name" placeholder="등록 카페 명칭 ( 지점명 까지 )"/><br>
                    <br><div>쿠폰 개수 설정</div>
                    <input type="number" class="form-control" step="1" min="1" placeholder="최소 1" name="cafe_stamp"/>
                    </div><br>
                    <br><div>위도</div>
                    <input type="text" class="form-control" placeholder="37~38 ( 소수점 모두 입력 )" name="longtitude"/>
                    </div><br>
                    <br><div>경도</div>
                    <input type="text" class="form-control" placeholder="127~129 ( 소수점 모두 입력 )" name="latitude"/>
                    </div><br>
                    <br><div>전화번호</div>
                    <input type="text" class="form-control" placeholder="01012341234" name="phone"/>
                    </div><br>
                    <div class="explain">카페 설명</div>
                    <sup>(<span id="nowByte">0</span>/200bytes)</sup>
                    <textarea rows="10" class="form-control" id="textArea_byteLimit" name="cafe_explain" onkeyup="fn_checkByte(this)"></textarea>
                    <br><button type="submit" class="btn btn-primary">등록</button>
                </form> 
        </div>
    </article><br>
    <a href="/coupon/aboutcoupon" class="btn_qr">qr페이지</a><br>
    {% endblock %}
</body>
</html>
<script>
	function fn_checkByte(obj){
        const maxByte = 200;
        const text_val = obj.value;
        const text_len = text_val.length;
        
        let totalByte=0;
        for(let i=0; i<text_len; i++){
            const each_char = text_val.charAt(i);
            const uni_char = escape(each_char)
            if(uni_char.length>4){
                totalByte += 2;
            }else{
                totalByte += 1;
            }
        }
        
        if(totalByte>maxByte){
            alert('최대 200Byte까지만 입력가능합니다.');
                document.getElementById("nowByte").innerText = totalByte;
                document.getElementById("nowByte").style.color = "red";
            }else{
                document.getElementById("nowByte").innerText = totalByte;
                document.getElementById("nowByte").style.color = "green";
            }
    }
</script>