body{
    padding: 0;
    margin: 0;
    text-align: center;
}
#header{
    float: right;
    width: 100%;
    height: 50px;
}
.moa{
    text-align: center;
    font-size: 3em;
}
.cafe{
    float: right;
    margin-right: 50px;
}
.article{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.left{
    float: left;
    width: 600px;
    height: 750px;
    margin: 55px 15px 20px;
    left: 150px;
    position: relative;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.right{
    float: right;
    width: 600px;
    height: 750px;
    margin: 55px 15px 20px;
    right: 150px;
    position: relative;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}